$background:#ffffff;
.header{
    background-color:$background ;
   
  
   
        .app-logo{
            height:45px;
         margin-bottom: 0;
        padding-top:9px;
      
        padding-left:80px;
        
            width:80px;
        }
    
}